*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.acceuil {
    width: 100%;
    height: 100%;
    background: #333;
    background: url(src/foretlumdown.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 50px;
    padding-top: 400px;
    padding-left: 210px;
}

.media-container {
    display: flex;
    padding-left: 210px;
    margin: 20px 0 40px 0;
}

.medias-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.medias-btn:hover {
    background: #333;
}

.icones {
    margin-top: 20%;
    width: 27px;
    transition: all 0.2s ease-in-out;
}

.icones:hover {
    margin-bottom: 10px;
}
.btn {
    margin-left: 210px;
    background: transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
    border: 2px solid #333;
    color: #333;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background: #333;
    color: #f1f1f1;
}


form {
    max-width: 900px;
    margin: 100px auto 0;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
    width: 50px;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lettre {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash{
    0% {
        color: #44F7F7;
        text-shadow: 0 0 7px #44F7F7;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #44F7F7;
        text-shadow: 0 0 7px #44F7F7;
    }
}
.lettre:nth-child(1) {
    animation-delay: 0.1s;
}
.lettre:nth-child(2) {
    animation-delay: 0.2s;
}
.lettre:nth-child(3) {
    animation-delay: 0.3s;
}
.lettre:nth-child(4) {
    animation-delay: 0.4s;
}
.lettre:nth-child(5) {
    animation-delay: 0.5s;
}
.lettre:nth-child(6) {
    animation-delay: 0.6s;
}
.lettre:nth-child(7) {
    animation-delay: 0.7s;
}
.lettre:nth-child(8) {
    animation-delay: 0.8s;
}
.lettre:nth-child(9) {
    animation-delay: 0.9s;
}
.lettre:nth-child(10) {
    animation-delay: 1s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}